<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Develop Test</title>
  <link rel="stylesheet" href="../dist/css/style.min.css" />
</head>

<body>
  <div class="table">
    <strong class="table__title">
      경기도 이천 맛집 리스트
    </strong>
    <table>
      <thead>
        <tr>
          <th>음식점 이름</th>
          <th>주소</th>
          <th>전화번호</th>
          <th>설명</th>
        </tr>
      <tbody>
        <tr>
          <td>
            <span class="table__text">설명</span>
          </td>
          <td>
            <span class="table__text">설명</span>
          </td>
          <td>
            <span class="table__text">설명</span>
          </td>
          <td>
            <span class="table__text">설명</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <button class="pagination__button" type="button">
      < </button>
        <ul class="pagination__list">
          <li class="pagination__item">
            <a href="#none" class="pagination__link"> 1 </a>
          </li>
          <li class="pagination__item">
            <a href="#none" class="pagination__link"> 2 </a>
          </li>
          <li class="pagination__item">
            <a href="#none" class="pagination__link"> 3 </a>
          </li>
          <li class="pagination__item">
            <a href="#none" class="pagination__link"> 4 </a>
          </li>
          <li class="pagination__item">
            <a href="#none" class="pagination__link"> 5 </a>
          </li>
          <li class="pagination__item">
            <span class="pagination__text"> ... </span>
          </li>
          <li class="pagination__item">
            <a href="#none" class="pagination__link"> 20 </a>
          </li>
        </ul>
        <button class="pagination__button" type="button">
          >
        </button>
  </div>
  <script src="../dist/js/main.bundle.js"></script>
  <script src="../src/js/api.js"></script>

</body>

</html>