<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Develop Test</title>
  <link rel="stylesheet" href="../dist/css/style.min.css" />
</head>
<body>
  <div class="table">
    <strong class="table__title">
      경기도 이천 맛집 리스트
    </strong>
    <h2 id="demo"></h2>
    <table>
      <colgroup>
        <col width="50">
        <col width="50">
        <col width="300">
      </colgroup>
      <thead>
        <tr>
          <th>사용자 ID</th>
          <th>ID</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
      <tbody id="tableBody">
        
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <!-- <button class="pagination__button" type="button">
      < </button> -->
        <ul class="pagination__list" id="pagination">

        </ul>
        <!-- <button class="pagination__button" type="button">
          >
        </button> -->
  </div>
  <script src="../dist/js/main.bundle.js"></script>
  <script src="../api.js"></script>

</body>

</html>